body {
    margin: 0;
    background-color: rgb(201, 176, 114);
}

.board-cosmetic {
    display: flex;
    flex-direction: row;
    border-style: double;
    height: 250px;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    margin-left: 100px;
    margin-right: 100px;
}

.color-block {
    display: flex;
    flex-direction: column;
}

img {
    height: 90%;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}